@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
$strongCyan: hsl(171, 66%, 44%);
$lightBlue: hsl(233, 100%, 69%);
$darkGrayishBlue: hsl(210, 10%, 33%);
$grayisBlue: hsl(201, 11%, 66%);
$font: "Bai Jamjuree", sans-serif;

body {
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $font;
  text-align: center;
}
header {
  width: 100vw;
  background-image: url("images/bg-header-mobile.png");
  background-size: cover;
  padding: 90px 0;
  img {
    padding-bottom: 35px;
  }
}
main {
  width: 90vw;
  margin: 0 auto;
  img {
    width: 90vw;
    height: auto;
    padding: 20px 0;
  }
  .companyLogos {
    width: auto;
    display: block;
    margin: 70px auto;
  }
}
p,
a {
  font-size: 18px;
  color: $grayisBlue;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: $strongCyan;
}
h1 {
  color: $darkGrayishBlue;
  font-weight: 600;
  font-size: 36px;
}
@mixin btn {
  color: white;
  padding: 1em 4em;
  border: none;
  border-radius: 3em;
  cursor: pointer;
  margin: 1em;
}
.ios {
  @include btn;
  background-color: $strongCyan;
  &:hover{
    background-color: lighten( $strongCyan, 10% )
  }
}
.mac {
  @include btn;
  background-color: $lightBlue;
  &:hover{
    background-color: lighten( $lightBlue, 10% )
  }
}
h2 {
  color: $darkGrayishBlue;
  font-size: 30px;
  font-weight: 600;
}
h3 {
  color: $darkGrayishBlue;
  font-size: 25px;
  font-weight: 600;
}
dt {
  color: $darkGrayishBlue;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
  img {
    width: auto;
  }
}
dd {
  color: $grayisBlue;
  margin: 0;
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  li{
      padding:10px;
  }
}
footer {
  margin-top: 110px;
  .footerLogo {
      width: 15%;
      padding-top: 40px;
    }
    background-color: #f3f3f3;
    position: absolute;
    img{
        padding: 20px;
    }
    a {
        color:$darkGrayishBlue;
    svg:hover {
      fill: $strongCyan;
    }
  }
}
@media (min-width: 64em) {
  header {
    background-image: url("images/bg-header-desktop.png");
  }
  footer{
      width: 100vw;
  }
}
